{% include "menu.html" %}
<html>
    <head>
        <title>The Bookish Explorer</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center my-5">Bienvenue chez The Bookish Explorer !</h1>
                    <p class="text-center">
                        Cette application vous permet d'emprunter des livres chez les librairies de la ville de Paris.
                        <br>
                        Vous pouvez consulter la liste des librairies, des livres et des clubs de lecture en vous inscrivant.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center my-5">Informations de contact</h1>
                    <p class="text-center">
                        Pour plus d'informations, vous pouvez nous contacter à l'adresse suivante : <a href="">contact@tbe.com</a>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>