{% include "menu.html" %}
<html>
    <head>
        <title>Auteur</title>
    </head>
    <body>
        <h1>Ajouter un auteur</h1>
        <form method="POST">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Ajouter">
        </form>

        <h1>Liste des auteurs</h1>
        <table>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            {% for author in authors %}
            <tr>
                <td>{{ author.name }}</td>
                <td>
                    <a href="">Modifier</a>
                    <a href="">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>