{% include "menu.html" %}
<html>
    <head>
        <title>Mes clubs</title>
    </head>
    <body>
        <h1>Liste des clubs de la librairie</h1>
        <a class="btn btn-secondary" href="{% url 'members:add_club' %}">Ajouter un club</a>
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Nombre de membres</th>
                    <th>Livre</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% if clubs|length > 0 %}
                {% for club in clubs %}
                <tr>
                    <td>{{ club.name }}</td>
                    <td>{{ club.members|length }}/{{ club.capacity }}</td>
                    <td>{{ club.book.title }}</td>
                    <td>
                        <a class="btn btn-warning" href="{% url 'members:show_club' club.id %}">Voir</a>
                        <a class="btn btn-danger" href="">Supprimer</a>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td class="text-center" colspan="4">Aucun club</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </body>
</html>