{% include "menu.html" %}
<html>
    <head>
        <title>Ma librairie</title>
    </head>
    <body>
        <h1>Liste des livres de la librairie</h1>
        <a class="btn btn-secondary" href="{% url 'members:add_book' %}">Ajouter un livre</a>
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>Cover</th>
                    <th>Titre</th>
                    <th>Auteur</th>
                    <th>Description</th>
                    <th>Editeur</th>
                    <th>Collection</th>
                    <th>Catégorie</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% if books|length > 0 %}
                {% for book in books %}
                <tr>
                    {% if book.cover %}
                    <td><img src="{{ book.cover.url }}" alt="Image du livre" class="img-thumbnail" style="max-width: 150px;"></td>
                    {% else %}
                        <td><img src="/covers/default.jpg" alt="Image du livre" class="img-thumbnail" style="max-width: 150px;"></td>
                    {% endif %}
                    <td>{{ book.title }}</td>
                    <td>{{ book.author.name }}</td>
                    <td>{{ book.description }}</td>
                    <td>{{ book.editor.name }}</td>
                    <td>{{ book.collection.name }}</td>
                    <td>{{ book.category.name }}</td>
                    <td>
                        <a href="">Modifier</a>
                        <a href="">Supprimer</a>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="2">Aucun livre</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </body>
</html>