{% include "menu.html" %}
{% load i18n %}
<html>
    <head>
        <title>Club</title>
    </head>
    <body>
        <h1>Fiche du club</h1>
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">{{ club.name }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-9">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Calendrier des sessions</h5>
                        <p class="card-text">
                            <div class="col-12">
                                <div id="calendar"></div>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card-body">
                    <h3>Informations</h3>
                    <h5>Créé le {% language 'fr' %} {{ club.created_at|date:"d F Y" }} {% endlanguage %}</h5>
                    <h5>Nombre de membres : {{ club.members_count }}/{{ club.capacity }}</h5>
                    <h5>Livre : {{ club.book.title }}</h5>
                    <p class="card-text">{{ club.description }}</p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Ajouter une session</h5>
                    <form method="POST">
                        {% csrf_token %}
                        <table>
                            {{ form.as_p }}
                            {{ form.media }}
                        </table>
                        <input class="btn btn-secondary" type="submit" value="Ajouter">
                    </form>
                </div>
            </div>
            <div class="col-9">
                <div class="card-body">
                    <h5 class="card-title">Liste des membres</h5>
                    <table class="table table-dark table-hover">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Mail</th>
                                <th>Date d'entrée</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% if members|length > 0 %}
                            {% for member in members %}
                            <tr>
                                <td>{{ member.user.username }}</td>
                                <td>{{ member.user.email }}</td>
                                <td>{{ member.created_at }}</td>
                                <td>
                                    <a class="btn btn-danger" href="{% url 'members:delete_member' member.id %}">Supprimer</a>
                                </td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td class="text-center" colspan="2">Aucun membre</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.0.2/index.global.min.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                height: 'auto',
                contentHeight: 'auto',
                locale: 'fr',
                buttonText: {
                    today: "Aujourd'hui",
                },
                eventSources: [
                    {{ sessions_in_calendar|safe }}
                ],
                displayEventTime: false,
                eventClick: function(info) {
                    window.location = info.event.url;
                },
            });
            
            calendar.render();
            });
            
        </script>
    </body>
</html>