{% include "menu.html" %}
<html>
    <head>
        <title>Collection</title>
    </head>
    <body>
        <h1>Liste des collections</h1>
        <table>
            <tr>
                <th>Nom</th>
            </tr>
            {% for collection in collections %}
            <tr>
                <td>{{ collection.name }}</td>
                <td><a href="">Modifier</a></td>
                <td><a href="">Supprimer</a></td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>