{% include "menu.html" %}
{% load leaflet_tags %}
{% load static %}
<html>

<head>
   {% leaflet_js %}
   {% leaflet_css %}
   <style>
      .leaflet-container {
         height: 100%;
      }
      * {
         font-size: 1rem;
      }
   </style>
   <script>

      window.addEventListener("map:init", async event => {
         const map = event.detail.map;

         let librariesInfos = [];
         const setLibrariesOnMap = async () => {
            const librariesData = await fetch('{% url "libraries:data" %}');
            const libraries = await librariesData.json();

            L.geoJson(libraries, {
               onEachFeature: function onEachFeature(feature, layer) {
                  const { slug, name, description, arr } = feature.properties;
                  librariesInfos.push({ slug, name, description, arr });
                  const content = `<h2>${name}</h2><hr><p>${description}</p><a href="libraries/${slug}">Voir la fiche</a>`;
                  layer.bindPopup(content);
               }
            }).addTo(map);
         }

         const setArrOnMap = () => {
            const arrondissements = JSON.parse('{% include "map/assets/json/arrondissements.geojson" %}');
            const arrondissementColors = [
               "#6681c3",
               "#bb896f",
               "#396a38",
               "#9ad9c1",
               "#1a3c45",
               "#744e90",
               "#c7a122",
               "#9af822",
               "#a43424",
               "#62936d",
               "#e2e208",
               "#41ba97",
               "#d755ea",
               "#9400d3",
               "#ff0000",
               "#126000",
               "#471f4c",
               "#00ff00",
               "#0000ff",
               "#4b0082",
            ];

            L.geoJson(arrondissements, {
               style: function (feature) {
                  const { c_ar } = feature.properties;
                  return {
                     color: arrondissementColors[c_ar - 1],
                     weight: 3,
                     opacity: 1.5,
                     fillOpacity: 0.5,
                  };
               },
               onEachFeature: function onEachFeature(feature, layer) {
                  const { c_ar, l_ar } = feature.properties;
                  let content = `<h2>${l_ar}</h2><hr>`;

                  librariesInfos.map(library => {
                     const { slug, name, description, arr } = library;

                     if (arr == c_ar) {
                        content += `<span>${name} <a href="libraries/${slug}">Voir la fiche</a></span><br>`;
                     }
                  });
                  layer.bindPopup(content, { permanent: true, direction: "center" })
               },
            }).addTo(map);
         }

         await setLibrariesOnMap();
         setArrOnMap();

         map.setView([48.856614, 2.3522219], 13);
         map.options.minZoom = 12;
         map.options.maxZoom = 18;
         map.options.maxBounds = map.getBounds();
      });
   </script>
</head>

<body>
   {% leaflet_map "main" %}
</body>

</html>