{% include "menu.html" %}
<html>
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        <div class="container">
            <h1>Dashboard libraire</h1>
            <div class="row">
                <div class="col-9">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Calendrier des retard(s)</h5>
                            <p class="card-text">
                                <div class="col-12">
                                    <div id="calendar"></div>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ library.name }}</h6>
                            <p class="card-text">{{ library.description }}</p>
                            <a class="btn btn-secondary" href="" class="card-link">Modifier</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Livre(s) de la librairie</h5>
                            <p class="card-text">
                                {% for book in books %}
                                    <a href="">{{ book.title }}</a><br>
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Clubs de la librairie</h5>
                            <p class="card-text">
                                <table class="table table-dark table-hover">
                                    <thead>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Nombre de membres</th>
                                            <th>Livre</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% if clubs|length > 0 %}
                                        {% for club in clubs %}
                                        <tr>
                                            <td>{{ club.name }}</td>
                                            <td>{{ club.members_count }}/{{ club.capacity }}</td>
                                            <td>{{ club.book.title }}</td>
                                            <td>
                                                <a class="btn btn-warning" href="{% url 'members:show_club' club.id %}">Voir</a>
                                                <a class="btn btn-danger" href="">Supprimer</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td class="text-center" colspan="4">Aucun club</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            </p>
                            <a class="btn btn-secondary" href="{% url 'members:add_club' %}">Ajouter un club</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.0.2/index.global.min.js"></script>
        <script>
            console.log({{ overdues_in_calendar|safe }});
            document.addEventListener('DOMContentLoaded', function() {
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                height: 'auto',
                contentHeight: 'auto',
                locale: 'fr',
                buttonText: {
                    today: "Aujourd'hui",
                },
                eventSources: [
                    {{ overdues_in_calendar|safe }}
                ],
                displayEventTime: false,
                
                eventClick: function(info) {
                    window.location = info.event.url;
                }
            });
            
            calendar.render();
            });
            
        </script>
    </body>
</html>