{% include "menu.html" %}
<html>
    <head>
        <title>Livres</title>
    </head>
    <body>
        <h1>Liste des livres</h1>
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Description</th>
                    <th scope="col">Auteur</th>
                    <th scope="col">Date d'ajout</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.description }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.created_at }}</td>
                    <td><a class="btn btn-secondary" href="{% url 'books:detail_book' book.id %}">Voir</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</html>