{% include "menu.html" %}
<html>
    <head>
        <title>Livres</title>
    </head>
    <body>
        <h1>Livres</h1>
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Description</th>
                    <th scope="col">Auteur</th>
                    <th scope="col">Date d'ajout</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for overdue in overdues %}
                <tr>
                    <td>{{ overdue.book.title }}</td>
                    <td>{{ overdue.book.description }}</td>
                    <td>{{ overdue.book.author }}</td>
                    <td>{{ overdue.book.created_at }}</td>
                    <td><a class="btn btn-secondary" href="{% url 'books:detail_book' overdue.book.id %}">Voir</a></td>
                    {% if user.is_authenticated %}
                        {% if user.is_staff == "false" %}
                            {% if overdue.status == "Disponible"%}
                                <td><a class="btn btn-secondary" href="{% url 'members:add_overdue' overdue.reference %}">Emprunter</a></td>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
</html>